bin/
obj/
.vs/
*.user
*.suo
.idea/
.vscode/
.DS_Store
Thumbs.db
*.log
publish/
out/
*.nupkg
*.snupkg
.env
node_modules/
wwwroot/libman.json
*.tmp
*.bak
*.swp
*.swo
**/obj/**/*.cshtml.cs
**/obj/**/*.cshtml.g.cs