USE [AttendanceDB]
GO
/****** Object:  Table [dbo].[Absen]    Script Date: 7/12/2025 3:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Absen](
	[AbsenID] [int] IDENTITY(1,1) NOT NULL,
	[NIK] [char](4) NOT NULL,
	[TanggalAbsen] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AbsenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 7/12/2025 3:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[NIK] [char](4) NOT NULL,
	[Nama] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[NIK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Absen]  WITH CHECK ADD  CONSTRAINT [FK_Absen_Employee] FOREIGN KEY([NIK])
REFERENCES [dbo].[Employee] ([NIK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Absen] CHECK CONSTRAINT [FK_Absen_Employee]
GO
